---
---

@import "{{ site.theme }}";

#forkme_button {
  float: right;
  margin-left: 6px;
  display: block;
  top: 0;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#download_button {
  float: right;
  margin-left: 6px;
  display: block;
  top: 0;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}